
# Solutions for Module 2.1 Variables: Coding Questions

This notebook contains solutions to coding questions about variables, arithmetic operations, type conversion, string concatenation, updating variables, boolean variables, variable names, swapping values, user input, and dynamic typing in Python.

In [ ]:

days_in_week = 7
print(days_in_week)

In [ ]:

a = 15
b = 4
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

In [ ]:

number = int("123")
print(type(number))

In [ ]:

first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

In [ ]:

score = 0
score += 5
score *= 3
score -= 2
print(score)

In [ ]:

is_sunny = True
print(is_sunny)

In [ ]:

# The invalid variable name is: b) 3_python
# Explanation: Variable names cannot start with a number.

In [ ]:

x = 10
y = 5
x, y = y, x
print("x:", x, "y:", y)

In [ ]:

# Note: Execution of input() is not supported in this notebook environment. Sample code is provided.
# name = input("Enter your name: ")
# age = int(input("Enter your age: "))
# print("Hello", name + ". You are", age, "years old.")

In [ ]:

data = 10
print(type(data))
data = "Hello"
print(type(data))